body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-image: url('https://images.pexels.com/photos/258154/pexels-photo-258154.jpeg?cs=srgb&dl=pexels-pixabay-258154.jpg&fm=jpg');
    background-size: cover;
    background-position: center;
    backdrop-filter: blur(5px);
    animation: fadeIn 1s ease-in-out;
}

#loginform {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 350px;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; transform: translateY(-20px); }
    to { opacity: 1; transform: translateY(0); }
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: 90%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #b19068;
    border-radius: 5px;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #785f3f;
    box-shadow: 0px 0px 10px rgba(255, 126, 95, 0.5);
    outline: none;
}

button {
    background: #b19068;
    color: #fff;
    border: none;
    padding: 12px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
    position: relative;
    overflow: hidden;
}

button:hover {
    background: #7d5d35;
    transform: scale(1.05);
}

button:active {
    transform: scale(0.95);
}

#forget, #register {
    margin-top: 10px;
    font-size: 14px;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.5s;
}

#forget a, #register a {
    color: #c33b18;
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#forget a:hover, #register a:hover {
    color: #ba6728;
    text-decoration: underline;
}
#errormsg{
    color: red;
    display: none; 
    font-weight: bold;
}